html, body, div, span, input, h1, h2, h3, h4, h5, h6, p,a,img,b, u, i, center,dl, dt, dd, ol, ul, li,form, label,table, tbody, tfoot, thead, tr, th, td,footer, header,menu, nav,section {
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) {
	html {font-size: 62.5%;}
}
@media (min-width: 360px) {
	html {font-size: 75%;}
}
@media (min-width: 384px) {
	html {font-size: 87.5%;}
}
@media (min-width: 400px) {
	html {font-size: 100%;}
}
@media (min-width: 540px) {
	html {font-size: 112.5%;}
}
@media (min-width: 600px) {
	html {font-size: 125%;}
}
@media (min-width: 640px) {
	html {font-size: 137.5%;}
}
@media (min-width: 720px) {
	html {font-size: 150%;}
}
@media (min-width: 768px) {
	html {font-size: 162.5%;}
}
html {
	/* font-size: calc(100vw / 375 * 10);代表设备宽度为375时候，页面10px = 1rem */
    font-size: calc(100vw / 375 * 12);
    font-family: Calibri, sans-serif;
}
::-webkit-input-placeholder{
    color: #b3b3b3;
}
i{
    font-style: normal;
}
.shop-bold-font{
    font:bold;
}
/* 垂直居中X轴 */
.absolute-center{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
/* 阴影部分兼容 向右 向下的阴影*/
.border-shadow{
    box-shadow: 0.1rem 0.1rem 0.2rem #999999;
    -moz-box-shadow: 0.1rem 0.1rem 0.2rem #999999;
    -webkit-box-shadow: 0.1rem 0.1rem 0.2rem #999999;
}
/* 清除浮动 */
.clearfloat:after{
    display: block;
    clear:both;
    content: '';
    visibility: hidden;
    height: 0;
}
/* input边框为内边框 */
input{
    box-sizing: border-box;
}
/* 字符过长省略号显示 */
.word-nowrap{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clearfloat{
    zoom:1;  
}
.float_l{
    float: left;
}
.float_r{
    float: right;
}
.basic-blue-color{
    color:#255288;
}
.basic-orange-color{
    color:#feae54;
}
/* 徽章 */
.badge-number{
    right: -16%;
    top: -11%;
    color: #ffffff;
    height: 1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: 0.9rem;
    background-color: #ff414B;
    display: inline-block;
    padding: 1px;
    border-radius: 50%;
    position: absolute;
}
/* 公共头部开始 */
header{
    height: 3.6rem;
    padding: 0 3%;
    text-align: center;
    position: relative;
}
header .header-title{
  font-size: 1.5rem;
}
header .shop-saomiao{
  left: 7%;
}
header .shop-qianbao1{
  left: 82%;
}
header .shopIcon{
    font-size: 2.2rem;
}
header .shop-jiantou-copy{
    left: 5%;
}
header .shop-xinxi-more-left{
    left: 93%;
}
.header-search{
    width: 65%;
    left: 44.5%;
    position: relative;
}
.header-search input{
    height: 2.5rem;
    width: 100%;
    border-radius: 0.4rem;
    color: #b3b3b3;
    padding-left: 15%;
    border: 1px solid #e5e5e5;
    background-color: #f2f2f2;
}
.header-search .search-icon{
    top: 27%;
    left: 6%;
    font-size: 1.2rem;
    color: #b3b3b3;
    position: absolute;
}
/* 公共头部结束 */
/* 公共底部开始 */
footer{
    height: 4rem;
    width: 100%;
    line-height: 4rem;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    z-index: 999;
}
footer >span{
    font-size: 1.4rem;
    font-weight: bold;
}
footer ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
footer ul li{
    float: left;
    margin: 0 6.8%;
    font-size: 2rem!important;
}
footer ul li:nth-child(3){
    padding-left: 19%;
    margin-right: 6%;
}
/* 公共底部结束 */
/* 轮播区域 */
.swiper-section{
    width:100%;
    font-size: 0;
}
.swiper-section img{
    width:100%;
}
